.card {
  padding: 10px;
  display: flex;
  flex-direction: row;
  gap: 1rem;

  &.hovered,
  &:hover {
    .size,
    .details {
      outline: 2px solid rgba(0, 0, 0, 0.5);
      outline-offset: 1px;
    }
  }

  &:hover {
    cursor: pointer;
  }

  .size {
    width: 4rem;
    height: 4rem;
    overflow: hidden;
    background-color: var(--color);
    border-radius: 50%;
    font-size: 0.9rem;

    display: flex;
    align-items: center;
    justify-content: center;
  }

  .details {
    text-align: start;
    padding: 10px;
    flex: 1;

    .range {
      font-size: 0.8rem;
    }
  }
}
