.selector {
  display: flex;
  flex-direction: column;

  fieldset {
    margin: 0 auto;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    gap: 1rem;
    padding: 1rem;
  }
}
