#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;

  /* copied from whatsapp web */
  font-family: "SF Pro Text", "SF Pro Icons", system, -apple-system, system-ui,
    BlinkMacSystemFont, "Segoe UI", "Helvetica Neue", "Helvetica", "Arial",
    "Lucida Grande", "Ubuntu", "Cantarell", "Fira Sans", sans-serif;
}
